* {
  user-select: none;
}

body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background: silver;
}

.gameStatus {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.minesCounter,
.smiley,
.timer {
  flex-grow: 1;
  font-size: 80px;
  line-height: 100px;
  height: 100px;
  text-align: center;
  width: 100px;
}

.smiley {
  cursor: pointer;
}

.board {
  margin: auto;
}

.row {
  width: fit-content;
  margin: auto;
  justify-content: center;
  display: flex;
}

.common-cell {
  background: black;
  border: 1px solid gray;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  font-weight: 600;
}

.revealed-cell {
  background: gray;
  border: 1px solid snow;
  float: left;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  color: snow;
  font-weight: 600;
}
